.login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.login_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-botao);
    height: 30rem;
    width: 30rem;
    border-radius: 2.5rem;
    gap: 3rem;
}

.login_title {
    display: flex;
    font-family: var(--fonte-principal);
    color: var(--white-color);
}

.login_subtitle {
    display: flex;
    justify-content: center;
    padding: 0.8rem;
    font-family: var(--fonte-principal);
    color: var(--white-color);
}

.login_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_img {
    height: 3rem;
    width: 3rem;
}

.login_inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login_login {
    display: flex;
    gap: 0.5rem;
}

.login_login-input {
    background-color: var(--cinza-claro);
    font-family: var(--fonte-titulo);
    border-radius: 1rem;
}

.login_senha {
    display: flex;
    gap: 0.5rem;
}

.login_senha-input {
    background-color: var(--cinza-claro);
    font-family: var(--fonte-titulo);
    border-radius: 1rem;
}

.login_botao {
    height: 2.5rem;
    width: 6rem;
    font-size: 0.8rem;
    font-family: var(--fonte-titulo);
    color: var(--white-color);
    background-color: var(--black-color);
    border-radius: 1rem;
    border-color: var(--black-color);
}

.login_botao:hover {
    height: 2.7rem;
    width: 6.2rem;
    font-size: 0.9rem;
}

.cadastrar {
    color: var(--white-color);
}