.cards {
    display: flex;
    justify-content: space-between;
    padding: 3.125rem 9rem;    
    
}

.cards__conteudo {
    display: flex;
    gap: 1.5rem;

}

.cards__img {
   border-radius: 0.625rem;
}

.cards__tipo-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white-color);
    font-family: var(--fonte-principal);
    text-decoration: none;
}
@media screen and (max-width:720px){
    .cards{
        padding: 2.125rem 1rem;
    }
    .cards__conteudo {
    font-size:14px ;
    gap: 0.7rem;

}
}