.carrossel__titulo{
    font-family: var(--fonte-titulo);
    color: var(--white-color);
    font-size: 1.875rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
.carrossel{
    background-color: var(--black-color);
}
.meuBanner {
  width: 100%;
  align-items: center;
  height: 26.25rem;
  position: relative;
}

.meuBanner .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.banner-prev,
.banner-next {
    display: none;
}
@media screen and (max-width:720px){
   .meuBanner {
  width: 100%;
  height: 100%;

  border-radius: 0.5rem;
}
}
